@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif !important;
  background-color: #0b1121 !important;
  position: absolute !important;
  overflow-x: hidden;
  width: 100% !important;
}

@media only screen and (max-width: 520px) {
  body {
    width: 150% !important;
  }
}
