@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif !important;
  background-image: url(../public/images/pattern.svg) !important;
  background-repeat: repeat !important;
  background-position: bottom !important;
  background-size: auto !important;
  background-color: #0b1121 !important;
  position: relative !important;
  z-index: 10 !important;
}
